
/*hover navbar */
.nav-hover a::after {
    content: "";
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--bg2);
    transform: scaleX(0);
    transition: 0.175s linear;
}

.nav-hover a:hover::after {
    transform: scaleX(80%);
}
/*-------------------------------*/

/* hover nav footer */
.footer-nav a{
    color: var(--bg3);
    transition: 0.175s linear;  
}

.footer-nav a:hover{
    color: var(--bg2);
}
/*-------------------------------*/