

/*hover navbar */
.nav-hover::after {
    content: "";
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--bg2);
    transform: scaleX(0);
    transition: 0.175s linear;
}

.nav-hover:hover::after {
    transform: scaleX(90%);
}
/*-------------------------------*/

/* hover nav footer */
.footer-nav {
    color: var(--bg3);
    transition: 0.175s linear;  
}

.footer-nav:hover{
    color: var(--bg2);
}
/*-------------------------------*/